<div class="container">
  <h1>Welcome to Craigslist Underground!</h1>
  <p>Now that the silk road is gone, this is the primary online marketplace for everything unsavory, destructive, and otherwise frowned upon by society and probably your parents.  Enjoy and use at your own risk :)</p>

  <table>
    <tr>
      <th>Category</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><a href="/firearms/posts">Firearms<a/>--</td>
      <td><code><%= "Pistols, Rifles, Shotguns, whatever you desire" %></code></td>
    </tr>
    <tr>
      <td><a href="/explosives/posts">Explosives<a/>--</td>
      <td><code><%= "A variety of things that go boom" %></code></td>
    </tr>
    <tr>
      <td><a href="/drugs/posts">Illegal Drugs<a/>--</td>
      <td><code><%= "Uppers, Downers, Screamers, Laughers, and everything in between" %></code></td>
    </tr>
  </table>
</div>
